:root, [data-aurora-theme] {
  --au-space-1: 4px;
  --au-space-2: 8px;
  --au-space-3: 12px;
  --au-space-4: 16px;
  --au-space-5: 24px;
  --au-space-6: 32px;
  --au-space-7: 48px;
  --au-space-8: 64px;
  --au-space-9: 96px;
}
